* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255); 
    background: #034159; 
    overflow-x: hidden;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(3, 65, 89, 0.8); /* Fundo com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    z-index: 1000;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #dadada;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
}

.nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}

.nav-link:hover {
    color: #0CF25D;
    background-color: #0056b3;
    border-radius: 4px;
}

.nav-link img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


.album {
    padding-top: 100px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #02735E;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    flex: 1 1 30%;
    max-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-date {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.card-link {
    color: #0CF25D;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

.card:hover {
    transform: translateY(-5px);
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
